<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />

<body>
<nav th:replace="fragments/nav" />
<div class="container">
    <div class="container">
        <h2>All devices
            <a class="pull-right btn btn-primary" href="/devices/new">Create new device</a></h2>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <form class="navbar-form" th:action="${'?${searchtext}'}">
                        <td colspan="5" class="awstable-seach">
                            <input th:name="searchtext" th:value="${searchtext}" type="text" class="form-control" placeholder="Search by title, description or status">
                        </td>
                    </form>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th>IMSI</th>
                    <th>IP</th>
                    <th>Channel</th>
                    <th>Status</th>
                    <th class="col-md-1"></th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="device : ${devices}">
                    <td th:text="${device.imsi}" class="awstable-shorttext">Fire at the petrol station</td>
                    <td th:text="${device.ip}" class="awstable-shorttext"></td>
                    <td th:text="${device.channel}" class="awstable-shorttext"></td>
                    <td th:text="${device.status}">OPEN</td>
                    <td><a th:href="${'/devices/' + device.deviceId}" class="awstable-button">Details</a></td>
                    <td><a th:href="${'/devices/remove/' + device.deviceId}" class="awstable-button">Remove</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer" />
</body>
<script>
    $(document).ready(function() {
        $('#listAllDevices a:first').addClass('active');
    });
</script>

</html>