<nav class="awsnav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <!--<p class="awsnav-title">Big Moustache Network</p>-->
            <a href="/"><img class="awsnav-title" src="https://raw.githubusercontent.com/thewilly/conductor/master/images/BMN-small.png" alt="big moustache network logo"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li id="resources" class="awsnav-element"><a href="/">Resources</a></li>
                <li id="listAllChannels" class="awsnav-element"><a href="/channels">Channels</a></li>
                <li id="listAllDevices" class="awsnav-element"><a href="/devices">All devices</a></li>
                <li id="listRegisteredDevices" class="awsnav-element"><a href="/incidents">Resgistered devices</a></li>
                <li id="listTransmissions" class="awsnav-element"><a href="/agent/listSensors">Transmisions</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"> <span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
            </ul>
        </div>
    </div>
</nav>