<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"/>

<body>
<nav th:replace="fragments/nav"/>
<div class="container">
    <h2>Channels
        <a class="pull-right btn btn-primary" href="/channels/new">Create new channel</a></h2>

    <div class="channels-pane">
        <div th:each="channel : ${channels}">
            <div class="channel-pane" th:classappend="${channel.selectedOnScreen} ? channel-pane-active : channel-pane"
                 th:onclick="'window.location.href = \'' + @{/channelsevent/listen/{id}(id=${channel.channelId})} + '\''">
                <p class="channel-pane-name" th:text="${channel.name}">CANAL 16</p>
                <p class="channel-pane-freq" th:text="${channel.freq}">400.000</p>
                <p class="channel-pane-ctcss" th:text="${channel.ctcss}">71.9</p>
                <div class="channel-pane-band"
                     th:classappend="${channel.freq < '200.000'} ? channel-pane-band-vhf : channel-pane-band-uhf"
                     th:text="${channel.freq < '200.000'} ? VHF : UHF"></div>
                <a class="color-inherit" th:href="@{/channels/{id}(id=${channel.channelId})}"><i class="channel-pane-icon fas fa-cogs"></i></a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer"/>
</body>
<script>
    $(document).ready(function () {
        $('#listAllChannels a:first').addClass('active');
    });
</script>

</html>